/* Tailwind-CSS */

/*
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
*/

@import '~bootstrap';
@import '~font-awesome';
@import '~jquery-ui/themes/base/all.css';
@import '~overlayscrollbars/css/OverlayScrollbars.css';


/* Custom-CSS */
@import 'sweetalert2.css';
@import 'spacer.css';
@import 'sidebar.css';
@import 'header.css';
@import 'style.css';
@import 'responsive.css';

