/* Sweet-Alert2 CSS */

body.swal2-shown.swal2-height-auto {
  height: 100% !important;
  padding-right: 0 !important;
}

.swal2-toast-shown .swal2-container,
.swal2-shown .swal2-container .swal2-modal.swal2-show,
.swal2-modal.swal2-show .swal2-actions {
  height: auto;
}

.swal2-shown .swal2-container {
  z-index: 106000;
}

.swal2-toast-shown .swal2-timer-progress-bar-container {
  height: .25em !important;
}

.swal2-icon-error .swal2-html-container {
  color: #DC3545;
}

.swal2-modal.swal2-show .swal2-actions {
  margin: 40px 0 20px;
}

.swal2-popup.swal2-toast.swal2-icon-success {
  /* border: 3px solid #79C150; */
  box-shadow: 0px 0px 5px 1px #79C150;
}
.swal2-icon-success .swal2-timer-progress-bar {
  background-color: #69D224;
}
.swal2-toast.swal2-icon-success .swal2-html-container {
  color: #157347;
  font-weight: bold;
}

.swal2-popup.swal2-toast.swal2-icon-error {
  /* border: 3px solid #79C150; */
  box-shadow: 0px 0px 5px 1px #F27474;
}
.swal2-icon-error .swal2-timer-progress-bar {
  background-color: #FF4B5C;
}


/*
.swal2-shown.swal2-height-auto {
  overflow: hidden !important;
}

body.swal2-shown.swal2-height-auto,
body.swal2-toast-shown .swal2-container {
  !*height: 100% !important;*!
  padding-right: 17px !important;
}

body.pos-module.swal2-shown.swal2-height-auto {
  height: 100% !important;
  padding-right: 0 !important;
}

.swal2-popup.swal2-modal {
  height: auto;
}
.swal2-popup.swal2-modal .swal2-icon {
  height: 5em;
}
.swal2-popup.swal2-modal .swal2-content  {
  margin-bottom: 20px;
}

.swal2-icon-success .swal2-content,
.swal2-icon-success .swal2-content .swal2-html-container {
  color: #157347;
}
.swal2-icon-error .swal2-content,
.swal2-icon-error .swal2-content .swal2-html-container {
  color: #DC3545;
}
.swal2-popup .swal2-actions {
  margin-bottom: 20px;
}
.swal2-popup .swal2-actions .swal2-styled {
  box-shadow: none;
  padding: 10px 20px;
}
.swal2-actions .swal2-styled.swal2-confirm.btn-primary {
  background-color: #0B5ED7;
}
.swal2-icon-success .swal2-actions .swal2-confirm {
  background-color: #157347;
}
.swal2-icon-error .swal2-actions .swal2-confirm {
  background-color: #DC3545;
}
.swal2-icon-warning .swal2-actions .swal2-confirm {
  background-color: #FFCA2C;
}
*/